<% content_for :javascript do %>
	<% #<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<% #<%= javascript_include_tag "frameworks/mootools-core-1.4.4-full-nocompat.js" %>
	<%= javascript_include_tag "frameworks/prototype_1_7_0.js" %>
<% end %>

<script>
  function executeTest() {
    var bodyElement = $$('body')[0];
	var startTime = new Date().getTime();
	
	for (var i = 0; i < testData.elements; i++) {
	    var element = new Element("div").update("Example");
		bodyElement.insert(element);
	}
	
	var endTime = new Date().getTime();
	
	return endTime - startTime;
  }

  document.observe('dom:loaded', function() {
	var executionTime = executeTest();

	testData.duration = executionTime;
	testData.name = "Insertion";
	testData.framework = "Prototype";
	testHelper.finished();
  });
</script>