<% content_for :javascript do %>
	<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<% #<%= javascript_include_tag "frameworks/mootools-core-1.4.4-full-nocompat.js" %>
	<% #<%= javascript_include_tag "frameworks/prototype_1_7_0.js" %>
<% end %>

<script>
  function executeTest(elements) {
	var startTime = new Date().getTime();
	for(var i = 0; i < elements.length; i++) {
		elements[i].detach();
	}
	var endTime = new Date().getTime();
	return endTime - startTime;
  }
  
  jQuery(document).ready(function() {
	var $body = jQuery('body');
	for (var i = 0; i < testData.elements; i++) {
		jQuery($body[0]).append("<div>Example</div>");
	}
	
	var elements = $body.find("div");
	for(var i=0; i < elements.length; i++) {
		elements[i] = jQuery(elements[i]);
	}
	
	var executionTime = executeTest(elements);
	
	testData.duration = executionTime;
	testData.name = "Deletion";
	testData.framework = "jQuery";
	testHelper.finished();
  });
</script>