<% content_for :javascript do %>
	<% #<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<%= javascript_include_tag "frameworks/mootools-core-1.4.4-full-nocompat.js" %>
	<% #<%= javascript_include_tag "frameworks/prototype_1_7_0.js" %>
<% end %>

<script>
  function executeTest(targetClasses) {
	var startTime = new Date().getTime();
	
	for (var i = 0; i < targetClasses.length; i++) {
		var $elem = $$(targetClasses[i]);
	}
	
	var endTime = new Date().getTime();
	
	return endTime - startTime;
  }
  
  window.addEvent('domready', function() {
	var targetClasses = [];
	
	for (var i = 0; i < testData.elements; i++) {
	    (new Element('div', {html: 'Example', 'class': 'target_' + i})).inject(document.body)
		targetClasses.push(".target_" + i);
	}
	
	var executionTime = executeTest(targetClasses);

	testData.duration = executionTime;
	testData.name = "Finding";
	testData.framework = "Mootools";
	testHelper.finished();
  });
</script>