<% content_for :javascript do %>
	<% #<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<%= javascript_include_tag "frameworks/mootools-core-1.4.4-full-nocompat.js" %>
	<% #<%= javascript_include_tag "frameworks/prototype_1_7_0.js" %>
<% end %>

<script>
  function executeTest() {
	var time_start = (new Date()).getTime();
	for(var i=0; i<testData.elements; i++) {
		(new Element('div', {html: 'Example'})).inject(document.body);
	}
	var time_finish = (new Date()).getTime();
	return time_finish-time_start
  }
  

  window.addEvent('domready', function() {
	var executionTime = executeTest();

	testData.duration = executionTime;
	testData.name = "Insertion";
	testData.framework = "Mootools";
	testHelper.finished();
  });
</script>
