<% content_for :javascript do %>
	<% #<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<% #<%= javascript_include_tag "frameworks/mootools-core-1.4.4-full-nocompat.js" %>
	<%= javascript_include_tag "frameworks/prototype_1_7_0.js" %>
<% end %>

<script>
  function executeTest(colors) {
    var $elem = $$('body div')[0];
	var startTime = new Date().getTime();
	for(var i = 0; i < colors.length; i++) {
		$elem.setStyle({backgroundColor: colors[i]});
	}
	var endTime = new Date().getTime();
	
	return endTime - startTime;
  }

  document.observe('dom:loaded', function() {
	$$('body')[0].insert(new Element("div").update("Example"));
	var colors = testHelper.generateColors(testData.elements);
	var executionTime = executeTest(colors);

	testData.duration = executionTime;
	testData.name = "Modify";
	testData.framework = "Prototype";
	testHelper.finished();
  });
</script>