<% content_for :javascript do %>
	<% #<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<%= javascript_include_tag "frameworks/mootools-core-1.4.4-full-nocompat.js" %>
	<% #<%= javascript_include_tag "frameworks/prototype_1_7_0.js" %>
<% end %>

<script>
  function executeTest(elements) {
	var time_start = (new Date()).getTime();
	for(var i = 0; i < elements.length; i++) {
		elements[i].dispose();
	}
	var time_finish = (new Date()).getTime();
	return time_finish-time_start
  }
  

  window.addEvent('domready', function() {
	var elements = []
	for(var i=0; i<testData.elements; i++) {
		var elem = new Element('div', {html: 'Example'});
		elements.push(elem);
		(elem).inject(document.body);
	}
	
	var executionTime = executeTest(elements);
	testData.duration = executionTime;
	testData.name = "Deletion";
	testData.framework = "Mootools";
	testHelper.finished();
  });
</script>
