<%= content_for :javascript do %>
	<%= javascript_include_tag "frameworks/jquery-1.7.1.js" %>
	<%= javascript_include_tag "testHandler.js" %>
<% end %>

<div class='nav_button'><%= link_to "<< Select Device", select_device_path %></div>

<h1>Tests</h1>
<%
	default_element_num = (session[:numberOfElements].nil?) ? 2000 : session[:numberOfElements];
%>
Elements to test: <%= select_tag "elements", options_for_select([1000, 1250, 1500, 2000, 4000, 8000], [default_element_num]) %>


<div id='test_cases'>
	<h2>jQuery</h2>
	<div id="test_jquery_insertion">jQuery insert elements</div>
	<div id="test_jquery_delete">jQuery delete elements</div>
	<div id="test_jquery_modify">jQuery modify elements</div>
	<div id="test_jquery_finding">jQuery find elements</div>
	
	<h2>Mootools</h2>
	<div id="test_mootools_insertion">Mootools insert elements</div>
	<div id="test_mootools_delete">Mootools delete elements</div>
	<div id="test_mootools_modify">Mootools modify elements</div>
	<div id="test_mootools_finding">Mootools find elements</div>
	
	<h2>Prototype</h2>
	<div id="test_prototype_insertion">Prototype insert elements</div>
	<div id="test_prototype_delete">Prototype delete elements</div>
	<div id="test_prototype_modify">Prototype modify elements</div>
	<div id="test_prototype_finding">Prototype find elements</div>
</div>