<h1>Select Device:</h1>

<%= @last_was_success unless @last_was_success.nil? %>

<div class='button'><%= link_to "iPhone", "tests?device=iPhone" %></div>
<div class='button'><%= link_to "Android", "tests?device=Android" %></div>
<div class='button'><%= link_to "N95", "tests?device=N95" %></div>