<table>
	<caption><%= caption %></caption>
	<tr>
		<th>Framework</th>
		<th>Results</th>
		<th>Average</th>
		<th>Deviation</th>
		<th>Offliers</th>
		<th>Offlier avg</th>
		<th>Acceptable</th>
	</tr>
<% (results.select {|res| res["elements"] == elements }).each do |result| %>
	<tr>
		<td><%= result["framework"] %></td>
		<td><%= result["results"] %></td>
		<td><%= sprintf('%.2f', result["average"]) %></td>
		<td><%= sprintf('%.2f', result["deviation"]) %></td>
		<td><%= result["offliers"].length %></td>
		<td><%= sprintf('%.2f', result["offlier_average"]) %></td>
		<td><%= result["results"] - result["offliers"].length %></td>
	</tr>
<% end %>
</table>