<style>
	table {
		margin: 30px;
		font-style: italic;
	}
	
	table caption {
		font-size: 14pt;
		font-style: normal;
	}
</style>


<h1>Insertion</h1>

<h2>Android Browser</h2>
<div>
	<%= render "result_table", :caption => "Insertion 2000", :results => @insertion_Android, :elements => 2000 %>
	<%= render "result_table", :caption => "Insertion 4000", :results => @insertion_Android, :elements => 4000 %>
	<%= render "result_table", :caption => "Insertion 8000", :results => @insertion_Android, :elements => 8000 %>
	<div style='clear:left;'></div>
</div>

<h2>iPhone Safari</h2>
<div>
	<%= render "result_table", :caption => "Insertion 2000", :results => @insertion_iPhone, :elements => 2000 %>
	<%= render "result_table", :caption => "Insertion 4000", :results => @insertion_iPhone, :elements => 4000 %>
	<%= render "result_table", :caption => "Insertion 8000", :results => @insertion_iPhone, :elements => 8000 %>
	<div style='clear:left;'></div>
</div>



<h1>Deletion</h1>

<h2>Android Browser</h2>
<div>
	<%= render "result_table", :caption => "Deletion 2000", :results => @deletion_Android, :elements => 2000 %>
	<%= render "result_table", :caption => "Deletion 4000", :results => @deletion_Android, :elements => 4000 %>
	<%= render "result_table", :caption => "Deletion 8000", :results => @deletion_Android, :elements => 8000 %>
	<div style='clear:left;'></div>
</div>

<h2>iPhone Safari</h2>
<div>
	<%= render "result_table", :caption => "Deletion 2000", :results => @deletion_iPhone, :elements => 2000 %>
	<%= render "result_table", :caption => "Deletion 4000", :results => @deletion_iPhone, :elements => 4000 %>
	<%= render "result_table", :caption => "Deletion 8000", :results => @deletion_iPhone, :elements => 8000 %>
	<div style='clear:left;'></div>
</div>



<h1>Modify</h1>

<h2>Android Browser</h2>
<div>
	<%= render "result_table", :caption => "Modify 2000", :results => @modify_Android, :elements => 2000 %>
	<%= render "result_table", :caption => "Modify 4000", :results => @modify_Android, :elements => 4000 %>
	<%= render "result_table", :caption => "Modify 8000", :results => @modify_Android, :elements => 8000 %>
	<div style='clear:left;'></div>
</div>

<h2>iPhone Safari</h2>
<div>
	<%= render "result_table", :caption => "Modify 2000", :results => @modify_iPhone, :elements => 2000 %>
	<%= render "result_table", :caption => "Modify 4000", :results => @modify_iPhone, :elements => 4000 %>
	<%= render "result_table", :caption => "Modify 8000", :results => @modify_iPhone, :elements => 8000 %>
	<div style='clear:left;'></div>
</div>




<h1>Finding</h1>

<h2>Android Browser</h2>
<div>
	<%= render "result_table", :caption => "Finding 1000", :results => @finding_Android, :elements => 1000 %>
	<%= render "result_table", :caption => "Finding 1250", :results => @finding_Android, :elements => 1250 %>
	<%= render "result_table", :caption => "Finding 1500", :results => @finding_Android, :elements => 1500 %>
	<div style='clear:left;'></div>
</div>

<h2>iPhone Safari</h2>
<div>
	<%= render "result_table", :caption => "Finding 1000", :results => @finding_iPhone, :elements => 1000 %>
	<%= render "result_table", :caption => "Finding 1250", :results => @finding_iPhone, :elements => 1250 %>
	<%= render "result_table", :caption => "Finding 1500", :results => @finding_iPhone, :elements => 1500 %>
	<div style='clear:left;'></div>
</div>