<div class='nav_button'><%= link_to "<< All tests", select_test_path %></div>
<h1>Results</h1>


<div id="results" style='margin-left: 20px;'>
	<table>
		<tr>
			<th>duration</th>
			<th>saved?</th>
		</tr>
		
<% @patch_results.each do |result| %>
	<tr class='<%= result[:class] %>'>
		<td style='font-weight: bold;'><%= result[:duration] %></td>
		<td><%= result[:success] %></td>
	</tr>
<% end %>
		<tr>
			<td style='border-top: 1px solid black;'><%= @average_duration %></td>
			<td></td>
		</tr>
	</table>
</div>