/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


* {

}

body {
	background: #c0c0c0;
}

.button, #test_cases div {
	background: #9f9f9f;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #545454;
	font-size: 14pt;
	cursor: pointer;
}

.nav_button {
	padding: 10px;
	margin: 10px 0;
	font-size: 12pt;
}

.button, .button *, .nav_button, .nav_button * {color: black;}
td {padding: 4px;}