<!DOCTYPE html>
<html>
<head>
  <title>OhjelmistotekniikanLabrat</title>
  <script type="text/javascript" charset="utf-8">
  	var selectedDevice = "<%= session[:device] or 'null' %>";
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>

<%= yield %>

</body>
</html>
